<h1 class="title is-4">Ciclo de Estudos</h1>
<hr />
<div *ngIf="ciclo != undefined; else semCiclo">
	<div class="mx-1 mb-4 columns is-multiline is-vcentered">
		<div class="column is-full p-0">
			<h1 class="title mb-1 is-3 has-text-link is-bold">{{ ciclo!.nome | titlecase }}</h1>
		</div>
		<div class="column is-full p-0 mt-2 is-vcentered">
			<h2 class="title is-6">Rodada atual: #{{ ciclo.rodadaAtual }} <button class="button is-dark is-small"
					style="float: right;" (click)="gerenciarRodada()">Gerenciar
					rodadas</button></h2>
		</div>
	</div>
	<div class="columns is-multiline is-vcentered">
		<div *ngFor="let bloco of blocos; let index = index" class="column is-half-tablet is-one-third-desktop">
			<div class="card has-background-light pb-2" style="border: 1px solid rgb(190, 190, 190);">
				<div class="column p-1 mt-2 mb-0 has-text-centered">
					<h2 class="title is-4 is-bold mt-1">{{ getNomeDisciplina(bloco.disciplinaId) | titlecase
						}}</h2>
				</div>
				<div class="column p-1 mt-2 mb-0 has-text-centered">
					<p>
						Tempo a estudar: <b>{{ bloco.tempo }}</b><br />
					</p>
					<p>
						Tempo já estudado: <b>{{ bloco.statusEstudos?.totalEstudado }}</b>
					</p>
					<p class="mt-3">
						<b [class]="[utils.retornaClasseCodigo(bloco.statusEstudos!.codigo)]">{{
							bloco.statusEstudos?.mensagem
							}}</b>
					</p>
				</div>
				<div class="column p-1 mt-2 mb-0 has-text-centered">
					<button type="button" class="button is-info is-small" mat-button
						(click)="abrirDetalhesBloco(bloco)">Visualizar/cadastrar
						estudos</button>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #semCiclo>
	<article class="message is-danger">
		<div class="message-body">
			Ainda não há um ciclo cadastrado.
		</div>
	</article>
</ng-template>
<hr />
<div *ngIf="mostrarBotaoCadastrar && disciplinas.length > 0">
	<button class="button is-link" (click)="formCiclo('cadastrar')">Iniciar um novo
		ciclo de estudos</button>
</div>
<div *ngIf="mostrarMensagemCadastrando">
	<article class="message is-info">
		<div class="message-body is-flex is-align-items-center is-justify-content-center is-size-4">
			Aguarde até a conclusão do carregamento das disciplinas... &nbsp;
			<button class="button is-info" (click)="formCiclo('fechar')">Fechar</button>
		</div>
	</article>
</div>
<div *ngIf="disciplinas.length == 0">
	É necessário cadastrar disciplinas antes de criar os ciclos.
</div>
<div *ngIf="mostrarFormCadastro">
	<app-formulario-ciclo (fechaFormulario)="formCiclo($event)" (mostrarBotoesNovamente)="formCiclo('fechar')">
	</app-formulario-ciclo>
</div>