<p>Teste de rotas com parâmetro, em um componente diferente já que isso não terá funcionalidade prática nenhuma no
	projeto final de ciclo de estudos, mas é um requisito para entrega da atividade 7.</p>
<p class="mt-5">Valor do paramUm: <b>{{ paramUm }}</b></p>
<p class="mt-5">Valor do paramDois: <b>{{ paramDois }}</b></p>
<div class="mt-5">
	<p>Componente filho "PassandoPropriedadesComponent" chamado e mandando para ele o valor de "paramDois":</p>
	<app-passando-propriedades [inputDoPai]="paramDois" (resposta)="receberResposta($event)">
	</app-passando-propriedades>
	<p>Resposta recebida do filho: {{ respostaRecebida }}</p>
</div>