<div class="tabs is-fullwidth">
	<ul>
		<li [class]="(active == 'ciclo') ? 'is-active' : ''">
			<a routerLink="">
				<span class="mdi mdi-24px mdi-dots-circle"></span>&nbsp;&nbsp;<span>Ciclo de estudos</span>
			</a>
		</li>
		<li [class]="(active == 'disciplinas') ? 'is-active' : ''">
			<a routerLink="disciplinas">
				<span class="mdi mdi-24px mdi-book-open-variant"></span>&nbsp;&nbsp;<span>Disciplinas</span>
			</a>
		</li>
		<li [class]="(active == 'form') ? 'is-active' : ''">
			<a routerLink="form">
				<span class="mdi mdi-24px mdi-book-open-variant"></span>&nbsp;&nbsp;<span>Formulário atividade 10</span>
			</a>
		</li>
	</ul>
</div>