<div class="tabs is-fullwidth">
    <ul>
        <li class="is-active">
            <a>
                <span class="mdi mdi-24px mdi-dots-circle"></span>&nbsp;&nbsp;<span>Ciclo de estudos</span>
            </a>
        </li>
        <li>
            <a>
                <span class="mdi mdi-24px mdi-book-open-variant"></span>&nbsp;&nbsp;<span>Disciplinas</span>
            </a>
        </li>
        <li>
            <a>
                <span class="mdi mdi-24px mdi-video-input-component"></span>&nbsp;&nbsp;<span>Componente #2 aqui!</span>
            </a>
        </li>
    </ul>
</div>