<h1>Atividade 11 Observables</h1>
<br />
<div *ngIf="cadastrados.length > 0; else vazio">
	<h1>Items cadastrados: </h1>
	<br />
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Data de nascimento</th>
				<th>Saldo da conta</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of cadastrados">
				<th>{{ item.nome | titlecase }}</th>
				<td>{{ item.email }}</td>
				<td>{{ item.dataNascimento }}</td>
				<td>{{ item.saldo | currency: 'R$' }}</td>
			</tr>
		</tbody>
	</table>
</div>
<ng-template #vazio>
	Não tem nada carregado. Clique no botão para carregar dados. Depois de carregados os dados do json-server,
	esta área irá desaparecer pelo ngIf. :(<br /><br />
	<button class="button is-link" (click)="carregar()">Carregar</button>
</ng-template>